main * {
    box-sizing: border-box;
}

body {
    background-image: url(Bilder/Logos/Background.jpg);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    text-align: center;
    background-color: rgb(128, 94, 51);
    border-radius: 50px;
    padding: 5px;
}

div {
    display: block;
}

#shopnav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

nav ul {
    list-style: none;
    text-align: left;
    background-color: rgb(128, 94, 51);
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    padding-top: 3px;
}

#Klappen {
    display: none;
}

#Dropdown>a {
    display: block;
    color: black;
}

#Dropdown:hover #Klappen {
    display: block;
}

nav a:hover {
    color: cyan;
    cursor: pointer;
}

nav>p {
    display: inline;
    position: relative;
    top: -50px;
    text-align: center;
    font-size: 1.2em;
}

#Cart-Header {
    display: block;
    background-color: rgb(128, 94, 51);
    top: 0px;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    color: aquamarine;
    font-size: 7em;
    letter-spacing: -10px;
}

h1+h2 {
    color: aquamarine;
    font-size: 3em;
}

h2 {
    color: rgb(99, 99, 66);
    font-size: 3em;
    letter-spacing: -3px;
    margin-top: 2em;
}

.Kat {
    display: block;
    width: 100%;
    margin-top: 30px;
}

h3 {
    font-size: 1.5em;
    text-align: center;
}

#Cart {
    position: absolute;
    right: 4%;
    top: -2px;
    display: inline;
}

#Preis-Cart {
    display: inline-block;
    margin: 10px;
}

#Delete-Button {
    display: none;
    position: absolute;
    right: 5%;
    margin-top: 7px;
    height: 30px;
    background-color: rgb(99, 99, 66);
    color: aquamarine;
    border: none;
    border-radius: 15px;
}

#Zaehler {
    position: absolute;
    background-color: darkcyan;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    bottom: 5px;
    text-align: center;
}

#ZaehlerText1 {
    position: absolute;
    right: 11px;
    top: -8px;
}

#ZaehlerText2 {
    position: absolute;
    right: 6px;
    top: -8px;
}

.Moebel {
    display: block;
    background-color: darkturquoise;
    text-align: center;
    float: left;
    margin-top: 5%;
    padding: 10px;
    border: 1px solid black;
    width: 300px;
    height: 350px;
    line-height: 0.5;
}

.Moebel:nth-child(2n) {
    background-color: darkcyan;
}

.Bewohner {
    display: block;
    background-color: darkturquoise;
    text-align: center;
    float: left;
    margin-top: 5%;
    padding: 10px;
    border: 1px solid black;
    width: 300px;
    height: 350px;
    line-height: 0.5;
}

.Bewohner:nth-child(2n) {
    background-color: darkcyan;
}

.Artikel {
    display: block;
    background-color: darkturquoise;
    text-align: center;
    float: left;
    margin-top: 5%;
    padding: 10px;
    border: 1px solid black;
    width: 300px;
    height: 350px;
    line-height: 0.5;
}

.Artikel:nth-child(2n) {
    background-color: darkcyan;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.flex-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

img[alt=Logo] {
    width: 400px;
    object-fit: cover;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    header {
        text-align: center;
        background-color: rgb(128, 94, 51);
        border-radius: 50px;
        padding: 3px;
    }
    h1 {
        color: aquamarine;
        font-size: 4em;
        letter-spacing: -3px;
    }
    h1+h2 {
        color: aquamarine;
        font-size: 2em;
        letter-spacing: 0px;
    }
    h2 {
        color: rgb(99, 99, 66);
        font-size: 2.5em;
        letter-spacing: -3px;
        margin-top: 0;
    }
    img[alt=Logo] {
        width: 300px;
        object-fit: cover;
    }
}

@media screen and (max-width: 600px) {
    nav a {
        text-decoration: none;
        color: black;
        font-size: 1em;
        padding-top: 3px;
    }
    nav>p {
        display: none;
    }
    h1 {
        color: aquamarine;
        font-size: 2em;
        letter-spacing: -1px;
    }
    h1+h2 {
        color: aquamarine;
        font-size: 1em;
        letter-spacing: 0px;
    }
    h2 {
        color: rgb(99, 99, 66);
        font-size: 2.5em;
        letter-spacing: -3px;
        margin-top: 0;
    }
    #Cart {
        position: absolute;
        right: 7%;
        top: -2px;
        display: inline;
    }
    #Preis-Cart {
        display: inline-block;
        margin: 10px;
        font-size: 1.1em;
    }
    #Delete-Button {
        display: none;
        position: absolute;
        right: 2%;
        margin-top: 10px;
        height: 20px;
        background-color: rgb(99, 99, 66);
        color: aquamarine;
        border: none;
        border-radius: 15px;
    }
    img[alt=Logo] {
        width: 200px;
        object-fit: cover;
    }
}